.footer {
  background-color: #0b0b2b;
  margin-top: 3em;
  margin-bottom: 0;
  padding: 4em;
}
.footer-container {
  display: flex;
  justify-content: center;
  color: #fff;
}
.socials a {
  color: #fff;
}
.socials a + a {
  margin-left: 1.4em;
}
.socials {
  display: flex;
  justify-content: space-between;
}
.footer-address {
  display: flex;
}
.second-p {
  margin-left: 0.5em;
}
.footer-container div + div {
  margin-left: 4em;
}
@media (max-width: 700px) {
  .footer {
    padding: 1em 0;
  }
  .footer-container {
    flex-direction: column;
  }
  .copy {
    margin-top: 0.7em;
  }
  .socials {
    flex-direction: column;
    margin-top: 0.7em;
    
    padding: 0.6em;
    align-items: center;
  }
  .socials a + a {
    margin-left: 0;
    margin-bottom: 0.3em;
  }
  .footer-container {
    align-items: center;
  }
  .footer-container div + div {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .footer-container p,
  .footer-container .copy,
  .footer-container a {
    font-size: 0.8rem;
  }
}
