#root{
  margin: 4em 2em;
}


.app-container{
background-color: beige;
border-radius: 10px;
margin: auto 0;
padding: 2em;

}

.todo-container{
 
  border-radius: 5px;
  margin-bottom: 1em;
  background-color: darkblue;
  color: white;
  
}
.todo{
  display: flex;
  max-width: 500px;
 
}
.content{
  max-width: 500px;
  padding: 1em 0;
}
